<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364310885685-6f3jda8jgrdin0dr5h1qc92nqi04cro7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364310885685-6f3jda8jgrdin0dr5h1qc92nqi04cro7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>364310885685-fn6qvqj2nmtrlkgrrthrvd9tujrvfl6g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3RuABAorhXrpOh9_Wbs9x6KCzfnhzOnY</string>
	<key>GCM_SENDER_ID</key>
	<string>364310885685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitechMobileApps</string>
	<key>PROJECT_ID</key>
	<string>tryal-adf7d</string>
	<key>STORAGE_BUCKET</key>
	<string>tryal-adf7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364310885685:ios:95383912f90590e2e8c87c</string>
	<key>DATABASE_URL</key>
	<string>https://tryal-adf7d-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>